@import "variables";

.Box {
	width: (100% - $BoxBetween * 1)/2;
	aspect-ratio: 1;
	//float: left;
	margin-top: $BoxBetween;
	background-color: $color5;
	border-color: $color6;
	//border-width: $BoxBorder;
	//border-style: solid;
	display: table;
	p {
		display: table-cell;
		text-align: center;
		vertical-align: middle;
	}
}
