@import "variables";

.Box {
	float: left;
	height: 48vw;
	width: 48vw;
	background-color: $color5;
	border-color: $color6;
	border-width: 0.5vw;
	border-style: solid;
	margin: 0.5vw;
	display: table;
	p {
		display: table-cell;
		text-align: center;
		vertical-align: middle;
	}
}
