@import "variables";

.content-body {
	width: 100%-$BoxBetween * 2;
	height: fit-content;
	margin: 0 $BoxBetween $BoxBetween $BoxBetween;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
