//color
$color1: #004f7a;
$color2: #7a8a92;
$color3: #423a57;
$color4: #fde5c5;
$color5: #dce5ec;
$color6: #9a7fb8;
$color7: #cd659f;
$color8: #829ac8;
$color9: #77c2b9;

//box
$BoxBetween: 5%;
$BoxBorder: 1%;
$BoxResponsiveBorder: 0px, 480px, 720px, 1080px;
