@import "variables";

.Box {
	aspect-ratio: 1;
	margin-top: $BoxBetween;
	background-color: $color5;
	border-color: $color6;
	//float: left;
	//border-width: $BoxBorder;
	//border-style: solid;
	display: table;
	transition-property: width, height, top, left;
	transition-duration: 0.5s;
	cursor: pointer;
	p {
		display: table-cell;
		text-align: center;
		vertical-align: middle;
	}
}

@for $i from 2 through length($BoxResponsiveBorder) {
	@media screen and (max-width: nth($BoxResponsiveBorder,$i)) and (min-width: nth($BoxResponsiveBorder,($i - 1))) {
		.Box {
			width: (100% - $BoxBetween * ($i - 1)) / $i;
		}
	}
}

@media screen and (min-width: (nth($BoxResponsiveBorder,(length($BoxResponsiveBorder ))))) {
	.Box {
		width: (100% - $BoxBetween * (length($BoxResponsiveBorder) - 1)) /
			(length($BoxResponsiveBorder));
	}
}
